@{
    ViewBag.Title = "About";
}
<h2 style="color:#b8162c; margin-left:100px;font-family:'Brush Script MT';font-size:50px">About US.</h2>

<img src="~/Content/Images/Logo img/GFT_L_HER_960x970_ALL15_SIT_01_PIR109229.jpg"class="about" />

